<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>About Page</title>
</head>
<body>
<section>

      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="verifyemail-form">
           
           <div class="container text-center">
			<div th:classappend="${'alert-'+session.message.type}" class="alert "
				th:if="${session.message}" role="alert">
				<p class="text-center" th:text="${session.message.content}"></p>
				<!--to remove alert message -->
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
		</div>
           
            <h5 class="text-center mb-2">Your registered email</h5>
               <form class="form" th:action="@{/send-otp}" method="POST">
                  <div class="form-group">
                  
                     <input required="required" name="email" type="email" class="form-control inputregemail" placeholder="Email">
                  </div>
                  <div class="container text-center">
                  <button type="submit" class="btn btn-black">Send OTP</button>            
                  </div>
                  
               </form>
            </div>
         </div>
      </div>
</section>
</body>
</html>